<a href="https://colab.research.google.com/github/kalyan501/jntua-python/blob/master/Day9(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown
## Markdown
## Markdown

*hello*
**kalyan**
***kalyan***

**Adding**
[site](https://www.jntua.ac.in/)

### image insertion
![image](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0fPyt0yKXvTBjm7rS4QRmW1vgVe_-IoBOB9nz9czR54XZ82g1&s)

In [2]:
print("hello world")

hello world

### variable

In [0]:
n1 =100# single variable assignment
print(n1)
a = b = c = 10 # multi variable assignment
print(a,b,c)
a1,b1,c1=100,200,300 # multi values for multi variables
print(a1,b1,c1)

# datatypes & conversions
* int 
* float
* String

In [0]:
a = 100
s1 = 10.2
s2 = "python"
print(type(a),type(s1),type(s2))

In [0]:
i = 100
print(type(i))
s1 =  str(i)
print(type(s1))
f1 = float(i)
print(type(f1))

#### length

In [0]:
a = 123456
print(len(str(a)))

#### reading input from user

In [0]:
a = input("enter ur name:")
print(a)
print(type(a))

In [0]:
b = int(input("enter ur age:"))
print(b)
print(type(b))

#### operators

#### Arithmetic operators
* +
* -
* *
* /
* %
* //
* **(power)

In [0]:
a = 1234
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a%10)
print(a//10)
print(a**10)

#### relational operator
* =
* ==
* !=
* <
* ">"
* <=
* ">="

In [0]:
x = 10
a1 = x > 15
print(a1)

#### logical operators
* and
* or
* not

In [5]:
i = 100
a1 = i>15 and i < 800
a2 = i>15 or i > 800
i =  not 10
print(a1)
print(a2)
print(i)

True
True
False

### control flow statements
* condtional statements
* looping statements

# if-else statement
## syntax
###if Boolean_condition:
###statements
###else:
###statements

In [0]:
# to check given no is even or odd
a = int(input("enter the no"))
if a%2==0:
  print(a,"even")
else:
  print(a,"odd")

In [2]:
# to check given number is perfectly multiples of 3 and 5
a = int(input("enter no:"))
if a%3 == 0 and a%5 ==0:
  print(a,"is multiple of 3 and 5")
else:
  print("not multiple")

enter no:15
15 multiple of 3 and 5

In [0]:
# given number is positve neg or 0
a = int(input("enter no"))
if a<0:
  print("negative")
if a>0:
  print("postive")
if a==0:
  print("zero")

In [0]:
# biggest of 3
a = int(input("enter a:"))
b = int(input("enter b:"))
c = int(input("enter c:"))
if a>b and a>c:
   print("a is big")
elif b>c:
  print("b is big")
else:
  print("c is big")

In [0]:
# leap year
a = int(input("enter a:"))
if a%400==0 and a%100 != 0 or a % 4==0:
  print("leap year")
else:
  print("not leap year")